.header {
    height: 120px;
    padding: 15px 10% 0 10%;
}

.logo-score {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 50px;
}

.score {
    padding-top: 15px;
}

.category {
    display: flex;
    justify-content: space-around;
    background-color: #008966;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.category span {
    padding-top: 8px;
    cursor: pointer;
}

.active {
    background-color: #00BC8C;
}
