.answer {
    display: flex;
    justify-content: space-between;
    height: 297px;
    margin: 20px 10% 10px 10%;
}

.choice {
    width: 49%;
    background-color:  #303030;
    border: 1px solid #808080;
    border-radius: 5px;
}

.example {
    height: 38px;
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
}

.example:not(:first-child) {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #808080;
}

.dots {
    font-size: 24px;
    color: #808080;
    margin-right: 10px;
}

.information {
    width: 49%;
    background-color:  #303030;
    border: 1px solid grey;
    border-radius: 5px;
}

.information-wrapper {
    display: flex;
}

.answer-picture {
    width: 200px;
    height: 140px;
    padding: 20px 20px 10px 20px;
}

.answer-bird {
    width: 180px;
    height: 130px;
    border: none;
    border-radius: 10px;
}

.answer-voice {
    width: 80%;
    padding: 10px 40px 0 0;
}

.answer-name {
    height: 30px;
    font-size: 26px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #808080;
    padding: 5px 0;
}

.latin-name {
    height: 20px;
    font-size: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #808080;
    padding: 5px 0;
}

.answer-controls {
    height: 50px;
}

.answer-controls, .playback-button {
    display: flex;
    align-items: center;
}

.answer-time-bar {
    position: relative;
    height: 4px;
    flex: 1 1;
    margin-top: 33px;
}

.playback-button {
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    justify-content: center;
    border-radius: 50%;
    margin: 30px 20px 0 0;
    cursor: pointer;
}

.triangle-button {
    font-size: 30px;
    font-weight: bold;
    color: #00bc8c;
}

.time-bar-bar {
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
    height: 4px;
}

.time-bar-circle {
    left: 0%;
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.time-bar-info {
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}

.answer-about {
    font-size: 14px;
    padding: 0 20px;
}

@media screen and (max-width: 900px) {
    .answer {
        display: contents;
    }
    .choice {
        width: 80%;
        height: 293px;
        margin: 20px 10% 10px 10%;
    }
    .information {
        width: 80%;
        height: 293px;
        margin: 20px 10% 10px 10%;
    }
}

@media screen and (max-width: 600px) {
    .information {
        height: 500px;
    }
    .information-wrapper {
        display: block;
        height: 350px;
        margin: 10px 10%;
        background-color:  #303030;
        border: none;
        border-radius: 5px;
    }
    .answer-picture {
        margin: 0 auto;
    }
    .answer-voice {
        padding: 10px 20px 20px 15px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .information {
        height: 530px;
    }
}

@media screen and (max-width: 400px) {
    .information {
        height: 550px;
    }
}

@media screen and (max-width: 350px) {
    .information {
        height: 580px;
    }
}
